<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Fonts -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500&family=Changa:wght@700;800&family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
 
<!-- Stylesheets -->

  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/trivias.css">
  
  <title>My Quizzes</title>

</head>
<body>
  <%- include('../../views/partials/navbar.ejs') %>

  <div class="all-quiz">

<section class='quizzes'>
  <h2>PUBLIC QUIZZES</h2>

  <% for (let publicTrivia of publicTrivias.reverse()){ %> 
    <div class="quiz">
      <span>&#8226;</span>
      <a class="indiv-quiz" href="/trivia/<%=publicTrivia._id%>"><%= publicTrivia.title.toUpperCase() %></a>
    </div>
      <% } %>
  <% if (publicTrivias.length === 0){ %> 
      <h3>YOU HAVE NO PUBLIC QUIZZES</h3>
      <a class="create-quiz" href="/trivia/new">CREATE A NEW QUIZ</a>
    <% } %> 
</section>

<section class='quizzes'>
  <h2>PRIVATE QUIZZES</h2>

  
  <% for (let privateTrivia of privateTrivias.reverse()){ %> 
    <div class="quiz">
      <span>&#8226;</span>
      <a class="indiv-quiz" href="/trivia/<%=privateTrivia._id%>"><%= privateTrivia.title.toUpperCase() %></a>
    </div>
      <% } %>
      <% if (privateTrivias.length === 0){ %> 
        <h3>YOU HAVE NO PRIVATE QUIZZES</h3>
        <a class="create-quiz" href="/trivia/new">CREATE A NEW QUIZ</a>
        
        <% } %> 
</section>
</div>

</body>
</html>