<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/styles/navbar.css">

</head>

<body>
  <%- include('../../views/partials/navbar.ejs') %>

  <%for (let trivia of trivias) {%>
    <div>
      <a href="/trivia/<%=trivia._id%>/">
        <%=trivia.title %>
      </a>
      <% if (currentUser && trivia.owner.equals(currentUser._id)) {%>
      <a href="/trivia/<%=trivia._id%>/edit">
        EDIT QUIZ
      </a>
      <% } %>
      <div>
        <%=trivia.description %>
      </div>
    </div>
    <% } %>
</body>

</html>