<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trivia Score</title>

  <link rel="stylesheet" href="/styles/navbar.css">

</head>
<body>
  <%- include('../../views/partials/navbar.ejs') %>

  <% for (let score of scores){%>
    <div>
      <%= score.triviaTitle %>
    </div>
    <div>
      <%= score.achievements%>/8 
    </div>
    <div>
      <%= (score.achievements/8)*100%>%
    </div>
    <div>
      Taken on <%= score.date.toString().slice(0,16) %>
    </div>
  <% }%>



</body>
</html>