<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trivia Score</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Changa:wght@700;800&family=Poppins:wght@200;300;400;500&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/score.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
  <!-- <%- include('../../views/partials/navbar.ejs') %> -->

  <section class="score-con">
    <section class="score-info">

      <% if (count < 6){ %>
        <h2>A for Effort</h2>
        <div class="score1">
          You scored: <%= count %>/<%= correctAnswers.length %>
        </div>
        <div class="score2">
          <%= (count/correctAnswers.length)*100 %>%
        </div>
        <a class="back-btn" href="/trivia/<%=trivia._id%>/play">Try Again</a>
        <% } %>
          <% if (count < 8 && count>= 6){ %>
            <h2>Good Job, You Know Your Stuff!</h2>
            <div class="score1">
              You scored: <%= count %>/<%= correctAnswers.length %>
            </div>
            <div class="score2">
              <%= (count/correctAnswers.length)*100 %>%
            </div>
            <a class="back-btn" href="/trivia/<%=trivia._id%>/play">Try Again</a>
            <% } %>
              <% if (count===8){ %>
                <h2>Wow! You're a Superstar!</h2>
                <div class="score1">
                  You scored: <%= count %>/<%= correctAnswers.length %>
                </div>
                <div class="score2">
                  <%= (count/correctAnswers.length)*100 %>%
                </div>
                <a class="back-btn" href="/trivia">Go Back to Trivias</a>
                <% } %>

    </section>
    <section class="title-img">
      <h1>
        <%= trivia.title %>
      </h1>
      <div class="triviaimg-div">
        <img class="triv-img" src=<%=trivia.image %> alt="">
      </div>
      </section>

  </section>
</body>

</html>