<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/styles/navbar.css">

</head>
<body>
  <%- include('../../views/partials/navbar.ejs') %>

  <h1>TRIVIA PAGE</h1>

  <img src=<%= trivia.image %> alt="">

    <%= trivia.title %>
    <%= trivia.description %>
    <a href="/trivia/<%=trivia._id%>/play">Take the quiz</a>

    <% if (currentUser && trivia.owner.equals(currentUser._id)) {%>
    <form action="/trivia/<%=trivia._id%>?_method=DELETE" method="POST">
      <button>DELETE</button>
      </form>
      <% } %>

</body>
</html>