<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500&family=Changa:wght@700;800&family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/styles/navbar.css">
<link rel="stylesheet" href="/styles/show.css">

<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Take The Quiz</title>
</head>

<body >
  <%- include('../../views/partials/navbar.ejs') %>

  <div class="show-body">

  <div class="trivia-body">

  <div class="trivia-sec1">

  <div class="trivia-title">  <h1 ><%= trivia.title %></h1></div>

<div class="trivia-desc">    <%= trivia.description %></div>

<div class="play-btn">    
  <a href="/trivia/<%=trivia._id%>/play" class="take-quiz">TAKE THE QUIZ</a></div>

  <section class="edit-delete">
    <% if (currentUser && trivia.owner.equals(currentUser._id)) {%>
      <a class="btn" href="/trivia/<%=trivia._id%>/edit">
        EDIT QUIZ
      </a>
      <form action="/trivia/<%=trivia._id%>?_method=DELETE" method="POST">
        <button class="btn" id="btn">DELETE QUIZ</button>
        </form>
        <% } %>
      </section>
</div>


<div class="triviaimg-div">    
  <img class="triv-img" src=<%= trivia.image %> alt=""></div>
  
</div>
</div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>

</body>
</html>